* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 36px;
}

header p {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

section {
    padding: 20px 0;
}

section h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about p, .skills ul, .education p, .contact p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.experience .job, .projects .project {
    margin-bottom: 20px;
}

.experience h3, .projects h3 {
    color: #77aaff;
}

.skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.skills ul li {
    display: inline-block;
    background: #77aaff;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}